<div class="surface-ground w-full min-h-screen p-0 m-0 flex flex-column">
  <app-toolbar *ngIf="isAdmin"></app-toolbar>
    <div class="flex flex-grow-1 justify-content-center align-items-center mb-5">
      <div class="grid grid-nogutter mb-5 mt-4">
        <div class="col-12 md:col-6 flex align-items-center justify-content-center animate__animated animate__fadeInUp">
          <div class="p-0 sm:px-3 md:pl-8 lg:pl-10">
            <h1 class="text-5xl md:text-6xl font-bold text-white text-center md:text-left mt-text-0">Plataforma<br/>de gestion de personal</h1>
            <p class="text-base md:text-xl line-height-3 mb-5 text-center md:text-left text-white-alpha-90 px-3 sm:px-5 md:pl-0 lg:mr-3">
              Plataforma de gestion de personal , control de asistencias, accesos, nominas , vacaciones , graficas, asistente virtual.
            </p>
            <div class="flex flex-column md:flex-row justify-content-center md:justify-content-start">
              <button mat-raised-button color="primary" class="p-button-lg mx-5 md:ml-0 mr-0 md:mr-3 mb-3 md:mb-0 cursor-pointer" [routerLink]="isAdmin ? '/admin/registro' : '/login'">
                <span class="px-3 py-2 flex align-items-center justify-content-center md:justify-content-start text-center">
                  {{ isAdmin ? 'Registrar Asistencias' : 'Iniciar Sesión' }}
                  <mat-icon class="ml-2">{{ isAdmin ? 'schedule' : 'login' }}</mat-icon>
                </span>
              </button>
              <button mat-stroked-button color="primary" class="border-1 border-white mx-5 md:mx-2 cursor-pointer" [routerLink]="isAdmin ? '/admin/asistencias' : '/registro'">
                <span class="px-3 py-2 flex align-items-center justify-content-center md:justify-content-start text-center">
                  <mat-icon class="mr-2">{{ isAdmin ? 'event' : 'person_add' }}</mat-icon>
                  {{ isAdmin ? 'Ver Asistencias' : 'Registrarse' }}
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 md:col-6 flex align-items-center justify-content-center mt-4">
          <div class="attendance-container relative w-15rem h-15rem sm:w-22rem sm:h-22rem md:w-25rem md:h-22rem lg:w-22rem lg:h-22rem ">
            <img src="https://www.gdm.com.mx/hs-fs/hubfs/Control%20de%20Asistencia%20y%20Accesos_v2.png?width=1074&height=650&name=Control%20de%20Asistencia%20y%20Accesos_v2.png" alt="Attendance Control System" class="border-circle shadow-8 w-full h-full" />
          </div>
        </div>
      </div>
    </div>
</div>