/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
      font-family: "PT Sans", serif;
  font-weight: 400;
  font-style: static;
}

.zindex{
  z-index: 2;
}

.mat-mdc-form-field-error {
  color: #ee0505 !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}


/* Estilos para los campos de formulario con fondo blanco */
/* .bw {
  --mdc-filled-text-field-container-color: white;
  --mdc-filled-text-field-label-text-color: #333;
  --mdc-filled-text-field-input-text-color: #000;
  border-radius: 8px;
  overflow: hidden;
} */

