<div class="flex flex-column h-screen">
  <!-- Toolbar -->
  <app-toolbar></app-toolbar>

  <!-- Content Area -->
  <div class="flex-1 overflow-y-auto p-4">
    <!-- Toggle Buttons at the top with better responsiveness -->
    <div class="flex justify-content-center mb-3 w-full">
      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="currentView()" (change)="onViewChange(group.value)" class="blur-toggle w-10rem sm:w-12rem md:w-15rem">
        <mat-button-toggle value="boton">Botón</mat-button-toggle>
        <mat-button-toggle value="codigo">Código</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="container mx-auto p-3" *ngIf="currentView() === 'boton'">
      <div class="grid justify-content-center">
        <!-- Centered Time and Registration - only one column now -->
        <div class="col-12 sm:col-10 md:col-8 lg:col-6 p-3">
          <div class="blur">
            <div class="flex flex-column align-items-center">
              <!-- Time Display -->
              <div class="time-display text-center mb-4">
                <h1 class="text-5xl font-light mb-2">{{ currentTime }}</h1>
                <h3 class="font-light text-600 m-0">{{ currentDate }}</h3>
              </div>
              
              <!-- Email Input -->
              <form class="w-full sm:w-10 md:w-10 mb-4" [formGroup]="assistForm">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Introduce tu correo</mat-label>
                  <input matInput type="email" formControlName="email" >
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="validatorsService.isValidField(assistForm, 'email')">
                    {{ validatorsService.getFieldError(assistForm, 'email') }}
                  </mat-error>
                </mat-form-field>
              </form>
              
              <!-- Registration Button -->
              <div class="w-full sm:w-10 md:w-8">
                <button mat-raised-button color="primary" class="w-full p-3"
                (click)="registerAssist()" [disabled]="submitting || assistForm.invalid">
                  REGISTRAR
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Código View -->
    <div class="container mx-auto p-3" *ngIf="currentView() === 'codigo'">
      <div class="grid justify-content-center">
        <div class="col-12 sm:col-10 md:col-8 lg:col-6">
          <div class="blur">
            <div class="p-3">
              <h2 class="mb-3">Código de la Página</h2>
              <mat-divider class="mb-3"></mat-divider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>