.blur-toggle {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.mat-button-toggle {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  padding: 0 16px;
  flex: 1;
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: rgba(37, 56, 165, 0.8);
  color: white;
}
